<h1><%= @doctor.name %></h1>
<p>Speciality: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
Patients
<ul>
  <% @doctor.patients.each do |patient| %>
    <li id="patient-<%=patient.id %>">
      <%= patient.name %>
        <%= form_with url: doctor_patient_path(patient.doctor_patient(@doctor)), method: :delete, local: true do |f| %>
          <%= f.hidden_field :doctor_id, value: @doctor.id %>
          <%= f.submit "Remove" %>
        <% end %>
    </li>
  <% end %>
</ul>